$btn-color: #C3DBB7;
$text-color: #070707;

ion-row{
    width: 100%;
}

.header {
  background-image: url("../../assets/greenbg.png")!important;
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

.round {
  --border-radius: 50%;
  --vertical-align: middle;
  height: 60px;
  width: 60px;
  --ion-color-base: #5d844b;
  font-size: initial;
  font-size: 25px;
  }

  .back-marg{
    float: left;
    position: relative;
    top: 25%;
    padding: 10px;
    background: #90be90;
    border-radius: 10px;
  }

  .clear-marg{
    float: right;
    position: relative;
    top: 25%;
    padding: 10px;
    background: #90be90;
    border-radius: 10px;
  }

  .save-center{
    border-radius: 50%;
    background: #8fb47c;
    font-size: 22px;
    color: #ffffff;
    height: 80px;
    width: 85px;
    border-radius: 50%;
  }

  .toggle-color{
      --ion-color-base: #d7e8cf !important;
  }

  .label-pos{
    position: absolute;
    bottom: 16%;
    display: flex;
  }

  .row-padd{
    padding: 0.5% 3%;
  }

  .toggle{
    padding-left:0;
    text-align: center; 
  }

  .title {
    font-size: 33px;
    font-weight: 500;
    padding-top: 10px;
    color: #fff;
    background: #00000000;
  }
  
  .icon{
    font-size: 30px;
    color: #000;
    border-radius: 15%;
    background: transparent;
}

.icon-label{
    position: absolute;
    left: 20%;
}

.tool2{
  --background:#00000000;
  --border-width : 0px !important;
}

.lab-font{
  font-size: 25px;
}

.event-font{
  font-size: 16px;
}

.event-font-italic{
  font-size: 16px;
  color: #333;
  font-style: italic;
}

.switch {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 34px;
}

.switch input {display:none;}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: grey;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 28px;
  width: 28px;
  left: 4px;
  top: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $btn-color;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(30px);
}

.on{
  display: none;
}

.off{
  padding-left:33px;
}

.on{
  padding-right: 25px;
}

.on, .off
{
  color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 13px;
  font-family: Verdana, sans-serif;
}

input:checked+ .slider .on
{display: block;}

input:checked + .slider .off
{display: none;}

.slider.rnd {
  border-radius: 16px;
}

.slider.rnd:before {
    border-radius: 14px;
}

.marginTL10 {
  margin-left: 20px !important;
  margin-top: 10px !important;
}
  
.marginL15 {
    margin-left: 35px !important;
    margin-top: 0px !important;
}