<ion-header no-padding class="header">
  <div text-uppercase text-center class="title">Receive Item</div>
  <ion-toolbar class="tool2">
    <ion-grid no-padding>
      <ion-row>
        <ion-col size="4" text-left class="padd-left-0">
          <ion-buttons class="back-marg" (click)="backToHome()">
            <ion-button style="font-size: 22px;color: #ffffff">BACK</ion-button>
          </ion-buttons>
        </ion-col>
        <ion-col size="1"></ion-col>
        <ion-col size="2" text-center>
          <!-- <div style="display: inline-block">
            <ion-button type="submit" expand="block" color="save" class="round" (click)="receiveSubmit()"
              [disabled]="!receiveForm.valid || autoSave == true"
              [style.cursor]="!receiveForm.valid ? 'not-allowed' : 'pointer'">Save</ion-button>
          </div> -->
          <ion-buttons style="float: right;">
            <ion-button class="save-center" type="submit" [disabled]="!receiveForm.valid || autoSave == true"
              (click)="receiveSubmit()">SAVE</ion-button>
          </ion-buttons>
        </ion-col>
        <ion-col size="1"></ion-col>
        <ion-col size="4" text-right>
          <ion-buttons class="clear-marg" (click)="formReset()">
            <ion-button style="font-size: 22px;color: #ffffff">CLEAR</ion-button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content no-padding>
  <form [formGroup]="receiveForm">
    <ion-row class="row-padd">
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating" class="lab-font lab-color">Batch</ion-label>
          <ion-input #batch text-uppercase type="text" formControlName="batch" class="lab-font"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="row-padd">
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating" class="lab-font lab-color">Container</ion-label>
          <ion-input text-uppercase type="text" formControlName="container" class="lab-font"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="row-padd">

      <ion-col size="12">
        <ion-item>
          <ion-label position="floating" class="lab-font lab-color">Model<ion-note style="color: red">*</ion-note>
          </ion-label>
          <!-- <ion-input type = "text" formControlName="model" required></ion-input> -->
          <ion-input type="search" text-uppercase (ionInput)="searchModel($event)" (ionBlur)="checkEmpty($event)"
            formControlName="model" class="lab-font"></ion-input>
        </ion-item>
        <ion-list *ngIf="showList" [class]="searchList.length > 6 ? 'srccroll' : 'srchgt'">
          <ion-item *ngFor="let item of searchList" (click)="getSelectedItem(item)" style="font-size: 20px">
            <ion-row>
              <ion-label>{{item}}</ion-label>
            </ion-row>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row class="row-padd">
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating" class="lab-font lab-color">Serial<ion-note style="color: red">*</ion-note>
          </ion-label>
          <ion-input #serial type="text" formControlName="serial" minLength="9" maxLength="12"
            (ionInput)="getNine($event)" (ionFocus)="checkEntry($event)" (ionBlur)="checkNine($event)" class="lab-font"
            text-uppercase required>
          </ion-input>
        </ion-item>
        <!-- <div class="error-message" *ngIf="errSerial">Serial number already exist</div> -->
      </ion-col>
    </ion-row>
  </form>
  <ion-toolbar class="tool1">
    <ion-grid style="padding: 3% 5%">
      <ion-row>
        <ion-col size="5">
          <ion-label class="lab-font">Auto Save</ion-label>
        </ion-col>
        <ion-col size="2" text-center>
          <!-- <ion-toggle class="toggle-color" color = "primary"></ion-toggle> -->
          <label class="switch"><input type="checkbox" [(ngModel)]="checked" (change)="isChecked($event, checked)">
            <div class="slider rnd"><span class="on">ON</span><span class="off">OFF</span></div>
          </label>
        </ion-col>
        <ion-col size="5"></ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  <ion-row class="marginTL10">
    <ion-col size="12">
      <ion-label position="stacked" class="event-font marginTL10">Event Log</ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-item padding-horizontal>
        <ion-textarea rows="3" [readonly]='true' [(ngModel)]="eventLog" class="event-font-italic"></ion-textarea>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-content>